<script type="text/html" id="footer-template">
<div class="footer">
  <ul class="social-icon-container">
    <a href="https://www.facebook.com/Sarah.C.Heffer" target="_blank">
      <li class="social-icon facebook-icon-grey" id="icon-facebook" data-active="facebook-icon-color"></li>
    </a>
    <a href="https://ca.linkedin.com/in/sarahcheffer" target="_blank">
      <li class="social-icon linkedin-icon-grey" id="icon-linkedin" data-active="linkedin-icon-color"></li>
    </a>
    <a href="https://github.com/sarahheffer" target="_blank">
      <li class="social-icon github-icon-grey" id="icon-github" data-active="github-icon-color"></li>
    </a>
    <a href="https://instagram.com/sarahh.ch/" target="_blank">
      <li class="social-icon instagram-icon-grey" id="icon-instagram" data-active="instagram-icon-color"></li>
    </a>
    <a href="" target="_blank">
      <li class="social-icon email-icon-grey" id="icon-email" data-active="email-icon-color"></li>
    </a>
  </ul>
</div>
</script>
