<script type="text/html" id="header-template">
  <h1 class="header-main-text"> SH </h3>
  <table class="table header-sub-info-container">
    <tr>
      <td class="header-sub-info"> Uwaterloo </>
      <td class="header-sub-info"> Sarah Heffer </>
      <td class="header-sub-info"> (905)-334-8060 </>
    </tr>
  </table>

  <nav class="nav header-nav-link-container">
    <ul class="nav-list">
      <li class="header-nav-divider left"></>
      <li class="header-nav-item nav-item-select" id="nav1">about</>
      <li class="header-nav-item" id="nav2">contact</>
      <li class="header-nav-divider right"></>
    </ul>
  </nav>
</script>
